* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    background: #191E2E;
    font-family: Qanelas;
}
button {
    border: 0;
    cursor: pointer;
}
.wrap {
    width: 1200px;
    margin: 0 auto;
}
#header {
    margin: 20px auto;
    width: 1200px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
        .logo {
            display: flex;
            align-items: center;
            h1 {
                font-family: Nunito;
                font-size: 25px;
                font-weight: 800;
                line-height: 31.37px;
                text-align: left;
                color: blue;
                #area {
                    color: white;
                }
            }
        }
    }
    .main {
        display: flex;
        gap: 20px;
        font-family: Nunito;
        font-size: 17px;
        font-weight: 700;
        line-height: 21.06px;
        a {
            color: white;
            font-family: Nunito;
            font-size: 17px;
            font-weight: 700;
            line-height: 21.06px;
            text-align: left;
            text-decoration: none;
        }
    }
    .right {
        display: flex;
        align-items: center;
        gap: 10px;
        #first_one {
            width: 55px;
            height: 52px;
            border-radius: 10px;
            background-color: white;
        }
        #second_one {
            width: 138px;
            height: 53px;
            border-radius: 10px;
            background: #3657CB;
            box-shadow: 0 0 15px 0 #4871FFCC;
            color: white;
            font-family: Nunito;
            font-size: 16px;
            font-weight: 700;
            line-height: 26.64px;
        }
    }
}
.selector {
    margin-block: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    h1 {
        font-family: Nunito;
        font-size: 65px;
        font-weight: 900;
        line-height: 82.81px;
        text-align: left;
    }
    .line {
        width: 70px;
        height: 2px;
        background-color: white;
    }
    .options {
        width: 470px;
        display: flex;
        align-items: center;
        gap: 20px;
        overflow-x: scroll;
        p {
            cursor: pointer;
            opacity: 0.2;
            font-family: Nunito;
            font-size: 15px;
            font-weight: 700;
            line-height: 22.3px;
            text-align: left;
        }
    }
}
.active_option {
    opacity: 1;
}
::-webkit-scrollbar {
    display: none;
}
.photos_of_movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .movie {
        margin-block: 10px;
        .title {
            
            font-family: Nunito;
            font-size: 18px;
            font-weight: 700;
            line-height: 22.3px;
            text-align: left;
            color: white;
        }
        .type {
            font-family: Qanelas;
            font-size: 15px;
            font-weight: 400;
            line-height: 17.85px;
            text-align: left;
            color: #F2F60F;

        }
        .relative {
            position: relative;
            .img_bg {
                position: relative;
                width: 283px;
                height: 425px;
                border-radius: 10px;
                ::after {
                    color: white;
                }
            }
            .score_of_movie {
                padding-top: 5px;
                position: absolute;
                top: 10px;
                right: 20px;
                width: 62.28px;
                height: 33.21px;
                border-radius: 5px;
                background: #89CB36;
                #num {
                    font-family: Nunito;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 22.3px;
                    text-align: center;
                    color: white;
                }
            }
        }
    }
}
.all_new_ones {
    margin: 50px 500px;
    width: 200px;
    height: 71px;
    border-radius: 10px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 29.97px;
    text-align: center;
    color: white;
    background: #191E2E;
    border: 2px solid white;
}
.new_traylers_place {
    .start {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-family: Nunito;
            font-size: 65px;
            font-weight: 900;
            line-height: 82.81px;
            text-align: left;
            color: white;
        }
        p {
            font-family: Nunito;
            font-size: 22px;
            font-weight: 700;
            line-height: 27.26px;
            text-align: left;
            color: white;
            cursor: pointer;
        }
    }
}
.flex {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
        display: flex;
        align-items: center;
        gap: 20px;
        h2 {
            color: white;
            font-family: Nunito;
            font-size: 40px;
            font-weight: 900;
            line-height: 57.33px;
            text-align: left;
        }
    }
    .right {
        img {
            cursor: pointer;
        }
    }
}
.line_of_traylers {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
}
.video {
    position: relative;
    .img_of_video {
        max-width: 450px;
        border-radius: 10px;
    }
    .play {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
    h3 {
        color: white;
        font-family: Nunito;
        font-size: 20px;
        font-weight: 900;
        line-height: 25.48px;
        text-align: left;
    }
}
.bg_of_entered_movie {
    transition: opacity 0.5s ease;
    margin-left: -120px;
    margin-top: -100px;
    opacity: 0.4;
    position: absolute;
    z-index: -2;
    width: 1440px;
    height: 850px;
}

// .bg_of_entered_movie::after {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 10%;
//     height: 50%;
//     background-color: #191E2E;
//     opacity: 0; /* цветовой оверлей с прозрачностью 0.5 */
//   }
.popular_movies {
    margin-top: 50px;
    h1 {
        font-family: Nunito;
        font-size: 40px;
        font-weight: 900;
        line-height: 50.96px;
        text-align: left;
        color: white;
    }
    .line_of_time {
        overflow-x: scroll;
        margin-block: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 470px;
        font-family: Nunito;
        p {
            opacity: 0.2;
            color: white;
            font-size: 15px;
            font-weight: 700;
            line-height: 18.58px;
            text-align: left;
        }
    }
}
.movies_of_this_time{
    padding-inline: 10px;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 30px;
    .movie {
        margin-block: 10px;
        .title {
            margin-top: -50px;
            font-family: Nunito;
            font-size: 18px;
            font-weight: 700;
            line-height: 22.3px;
            text-align: left;
            color: white;
        }
        .type {
            font-family: Qanelas;
            font-size: 15px;
            font-weight: 400;
            line-height: 17.85px;
            text-align: left;
            color: #F2F60F;

        }
        .relative {
            position: relative;
            .img_bg {
                width: 290px;
                height: 500px;
                border-radius: 10px;
            }
            .score_of_movie {
                padding-top: 5px;
                position: absolute;
                top: 10px;
                right: 20px;
                width: 62.28px;
                height: 33.21px;
                border-radius: 5px;
                background: #89CB36;
                #num {
                    font-family: Nunito;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 22.3px;
                    text-align: center;
                    color: white;
                }
            }
        }
    }
}
.famous_actors{
    margin-top: 50px;
    h1{
        font-family: Qanelas;
        font-size: 40px;
        font-weight: 900;
        line-height: 50.96px;
        text-align: left;
        color: white;
    }
    .flex{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        .photos{
            width: 635px;
            display: flex;
            gap: 20px;
            overflow-x: scroll;
            .photo{
                position: relative;
                border-radius: 10px;               
                background-size: contain;
                background-repeat: no-repeat;
                img{
                    max-width: 300px;
                    width: 300px;
                    height: 300px;
                    border-radius: 10px;
                }
                p{
                    position: absolute;
                    top: 10px;
                    left: 10%;
                    color: #F2F60F;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 20px;
                    text-align: left;
                }
                h2{
                    bottom: 50px;
                    left: 25%;
                    position: absolute;
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24.78px;
                    text-align: left;
                }
                h3{
                    position: absolute;
                    bottom: 30px;
                    left: 25%;
                    color: white;
                    opacity: 0.3;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 18.35px;
                    text-align: left;
                }
            }
        }
    }
}
.add_class{
    background-blend-mode: screen;
    background-color: #3657CB;
}

.btn{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 14px;
    font-weight: 700;
    line-height: 23.31px;
    text-align: center;
    color:  rgba(54, 87, 203, 1);
    width: 160px;
    height: 49px;
    border-radius: 10px;
   }
.btn_active{
    display: block;
}
.table_of_names{
    overflow-y: scroll ;
    height: 300px;
    border-radius: 10px;
    background: rgba(27, 33, 51, 1);
    .line{
        margin: 0 auto;
        width: 90%;
        height: 2px;
        border: 2px;
        border: 2px solid rgba(30, 37, 56, 1);
        background-color: rgba(30, 37, 56, 1);
    }
    .name{
        margin-block: 15px;
        height: 44px;
        display: flex;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;
        .left{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 0;
            h3{
                color: white;
                opacity: 0.3;
                font-size: 14px;
                font-weight: 600;
                line-height: 13.45px;
                text-align: left;
            }
            h2{
                color: white;
                font-size: 17px;
                font-weight: 700;
                line-height: 18.58px;
                text-align: left;

            }
        }
        .right{
            p{
                    color: #F2F60F;
                    font-size: 19px;
                    font-weight: 600;
                    line-height: 18.35px;
            }
        }
    }
}